body {
  height: 100vh;
  background-color: #0c0c0c;
  background-image: url("../images/jabba.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

header {
  width: 100%;
  height: 200px;
  z-index: 99;
  top: 0;
  position: sticky;
}

#logo__box {
  display: flex;
  width: 200px;
  height: 200px;
  img {
    filter: drop-shadow(0px 0px 10px rgba(193, 100, 236, 0.4));
  }
}

#foreword {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 160px;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: whitesmoke;
  text-shadow: #7c1384 0px 0px 8px;
  background: #0c0c0c;
}

#loading-animate {
  width: 100px;
  position: absolute;
  bottom: 48px;
  left: 24px;
}

#filter__container {
  width: 100%;
  position: absolute;
  bottom: 40%;
  display: flex;
  flex-direction: column;
}

#body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  p {
    color: #0c0c0c;
    font-weight: 900;
    margin-bottom: 16px;
    font-size: 1.25rem;
  }

  button {
    position: relative;
    font-size: 3rem;
    font-weight: 200;
    text-transform: capitalize;
    width: 60%;
    height: 96px;
    border-radius: 24px;
    background-color: white;
    border: inset 2px rgba(196, 123, 172, 0.4);
    cursor: pointer;
    transition: border 0.3s ease-in-out;
  }

  button:hover {
    border: 1px solid rgba(196, 123, 172, 0.8);
    box-shadow: inset 0px 0px 10px rgba(196, 123, 172, 0.2);
  }

  i {
    position: absolute;
    font-size: 2rem;
    bottom: 30%;
    right: 30px;
    color: rgba(196, 123, 172, 1);
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
  }
}

#filter__box {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);

  #filter-list {
    filter: opacity(0.8);
    margin: 32px auto;
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 100;
    padding: 0;

    li {
      cursor: pointer;
      color: rgba(196, 123, 172, 1);
      filter: opacity(0.9);
    }

    li:hover {
      color: black;
      filter: opacity(1);
    }
  }
}

// Character Card

#result__container {
  background-color: #0c0c0c;
  color: whitesmoke;
  height: fit-content;
  min-height: 100%;
  z-index: 1000;
  position: relative;
  visibility: hidden;
}

#result-header {
  margin-top: 36px;
  text-transform: capitalize;
  h3 {
    font-size: 8rem;
    font-weight: 200;
  }
}

#result-headline {
  font-size: 1.5rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#results ul {
  padding: 0;
  list-style-type: none;
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.5;

  li {
    cursor: pointer;
  }
}

#results ul li:hover {
  color: rgb(205, 101, 170);
}

#result_details {
  padding-top: 24px;
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.5;
}

#result_details div img {
  margin: 24px auto;
  width: 500px;
}

#result_synopsis {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
  padding: 64px 24px;
  color: goldenrod;
}

#result-caution {
  font-style: italic;
  font-weight: 100;
  font-size: 3rem;
  color: goldenrod;
  opacity: 0;
  transition: opacity 3s ease-in;
}

#closeButton {
  font-size: 2rem;
  position: absolute;
  top: 140px;
  right: 64px;
  cursor: pointer;
}

footer {
  position: fixed;
  width: 100%;
  margin-top: 24px;
  text-align: right;
  bottom: 0;
  padding: 0 16px;
  mix-blend-mode: exclusion;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  div {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  p {
    text-align: right;
  }

  a {
    text-decoration: none;
    color: goldenrod;
  }
}

@media screen and (min-width: 1080px) {
  #result-caution {
    font-size: 2rem;
  }

  #foreword {
    font-size: 4.5rem !important;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  #foreword {
    font-size: 7rem !important;
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) {
  #result-caution {
    font-size: 2rem;
  }

  #foreword {
    font-size: 3rem;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  #foreword {
    font-size: 2rem;
    padding: 0 24px;
  }
  #result-caution {
    font-size: 1.75rem;
  }

  #results {
    overflow-y: hidden;
  }

  #result_synopsis {
    padding: 24px;
  }

  #result_details div img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 468px) {
  #closeButton {
    display: none;
  }

  #foreword {
    font-size: 1rem;
    padding: 0 24px;
  }

  #body {
    button {
      font-size: 2rem;
      font-weight: 100;
      height: 64px;
    }

    i {
      display: none;
    }
  }

  #filter-list li {
    font-size: 2rem;
  }

  #filter__box {
    top: 80px;
  }

  #result-header {
    height: 200px;
    h3 {
      font-size: 3.5rem;
    }
  }

  #result-caution {
    font-size: 1.25rem;
  }

  #results li,
  #result_details {
    font-size: 1rem;
  }
}
